.form_container {
  inline-size: min(500px, 100%);
  box-sizing: border-box;
  background-color: whitesmoke;
  padding: 20px 15px;
  border-radius: 6px;
  .form_title {
    color: #2d4304;
  }
  .inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    div {
      display: flex;
      flex-direction: column;
      gap: 4px;
      label {
        .star {
          color: #4a6e07;
        }
      }
    }
    .firstname {
    }
    .lastname {
    }
    .Emailaddress {
      grid-column: span 2;
    }
    .questionType {
      grid-column: span 2;
      .questionType_title {
        display: flex;
        gap: 4px;
        margin-bottom: 0;
        .star {
          color: #4a6e07;
        }
      }
      .types {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
        .type {
          cursor: pointer;
          display: flex;
          flex-direction: row;
          border: 1px solid #4a6e07;
          border-radius: 4px;
          padding: 5px 20px;
          /* &:has(input:checked) {
            background-color: #bbf451;
          } */
        }
      }
    }

    .message {
      grid-column: span 2;
      margin-bottom: 30px;
    }
  }
  .consent {
    height: 1lh;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    grid-column: span 2;
    margin-bottom: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    gap: 4px;
    .star {
      color: #4a6e07;
    }
    p {
      cursor: pointer;
      display: flex;
      gap: 4px;
    }
    input {
      accent-color: #bbf451;
      cursor: pointer;
    }
  }
  .submit_btn {
    border: none;
    outline: none;
    color: white;
    font: inherit;
    padding: 4px;
    border-radius: 4px;
    width: 100%;
    background-color: #bbf451;
    transition: all 0.1s ease-in;
    cursor: pointer;
    margin-top: 15px;
    &:hover {
      background-color: #a1f00f;
    }
  }
  .errorMessage {
    color: red;
    font-size: x-small;
    margin: 0;
  }
}
@media (max-width: 500px) {
  .form_container {
    .inputs {
      .firstname {
        grid-column: span 2;
      }
      .lastname {
        grid-column: span 2;
      }
      .questionType {
        .types {
          .type {
            grid-column: span 2;
          }
        }
      }
    }
  }
}
